<a href="https://colab.research.google.com/github/EYZ27/my_first_repository/blob/main/Week3_1_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 오늘 알아갈 내용은요

- `Built-in Functions` 인 `len` `sum` `min` `max` 를 사용해봐요.
- 우선 사전 정의 데이터 코드를 셀에 복사 붙여넣기해 정의해주세요.
- **출력예시**의 내용이 나올 수 있도록 **코드예시**에서 `###코드작성###` 부분을 채워주세요.

In [1]:
"""
사전정의 데이터 셀
"""
members = [
    {
        '성': '김',
        '이름': '이팝',
        '소속': '나무팀',
        '국적': '대한민국',
        '나이': 40,
    },
    {
        '성': '김',
        '이름': '단풍',
        '소속': '나무팀',
        '국적': '대한민국',
        '나이': 29,
    },
    {
        '성': '이',
        '이름': '버들',
        '소속': '나무팀',
        '국적': '대한민국',
        '나이': 34,
    },
    {
        '성': '박',
        '이름': '바오밥',
        '소속': '나무팀',
        '국적': '대한민국',
        '나이': 27,
    },
    {
        '성': 'May',
        '이름': 'Blossom',
        '소속': '나무팀',
        '국적': '미국',
        '나이': 28,
    },
    {
        '성': '김',
        '이름': '샤프란',
        '소속': '꽃팀',
        '국적': '대한민국',
        '나이': 42,
    },
    {
        '성': '김',
        '이름': '튤립',
        '소속': '꽃팀',
        '국적': '대한민국',
        '나이': 37,
    },
    {
        '성': '박',
        '이름': '수선화',
        '소속': '꽃팀',
        '국적': '대한민국',
        '나이': 33,
    },
    {
        '성': '박',
        '이름': '앵초',
        '소속': '꽃팀',
        '국적': '대한민국',
        '나이': 28,
    },
    {
        '성': 'Sharon',
        '이름': 'Rose',
        '소속': '꽃팀',
        '국적': '미국',
        '나이': 23,
    },
    {
        '성': '최',
        '이름': '매실',
        '소속': '열매팀',
        '국적': '대한민국',
        '나이': 50,
    },
    {
        '성': '이',
        '이름': '자두',
        '소속': '열매팀',
        '국적': '대한민국',
        '나이': 33,
    },
    {
        '성': '임',
        '이름': '키위',
        '소속': '열매팀',
        '국적': '대한민국',
        '나이': 26,
    },
]

prices = [300, 500, 350, 110, 280]

## [Q1] len을 이용해서 원하는 문자열을 my_string 변수에 저장하고 my_string 변수의 문자열의 길이를 출력해주세요.

In [3]:
my_string = "Do not reinvent the wheel"
print(f"'{my_string}' 문자열의 길이는 {len(my_string)}입니다.")

'Do not reinvent the wheel' 문자열의 길이는 25입니다.

## [Q2] len과 for loop를 이용해서 members에 저장된 모든 사원의 이름의 길이의 합을 구하고 출력해주세요.

In [4]:
total_len_name = 0
for member in members:
  total_len_name += len(member["이름"])
print(f"사원들 이름의 총 길이는 {total_len_name}입니다.")

사원들 이름의 총 길이는 36입니다.

## [Q3] 사전 정의된 데이터인 `prices` 변수의 `sum` `min`, `max` 를 구하고 출력해주세요.

또 유용한 Built-in Functions로는 숫자를 다루는 `sum`, `min`, `max`가 있어요. 함수의 이름만 봐도 대략적으로 어떤 기능을 하는 함수인지 감이 오시나요?

- sum: 합을 계산하는 함수
- min: 최소값을 계산하는 함수
- max: 최대값을 계산하는 함수

### [Q3-1] 모든 상품의 가격의 합을 출력해주세요.

In [8]:
print(f"상품의 총 가격은 {sum(prices)}입니다.")

상품의 총 가격은 1540입니다.

### [Q3-2] 가장 높은 가격을 가진 상품의 가격을 출력해주세요.

In [9]:
print(f"상품 중 가장 높은 가격은 {max(prices)}입니다.")

상품 중 가장 높은 가격은 500입니다.

### [Q3-3] 가장 낮은 가격을 가진 상품의 가격을 출력해주세요.

In [10]:
print(f"상품 중 가장 낮은 가격은 {min(prices)}입니다.")

상품 중 가장 낮은 가격은 110입니다.