<a href="https://colab.research.google.com/github/EYZ27/my_first_repository/blob/main/week4_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **[Q1] 리스트로 부서 내 사원들을 한 번에 모아서 출력해주세요.**

### **[Q1-1] `my_team` 리스트에 위 세 명의 사원을 저장해주세요.**

### **[Q1-2] `my_team` 리스트를 출력해주세요.**

In [1]:
my_team = ['김단풍', '이버들', '박바오밥']
print(my_team)

['김단풍', '이버들', '박바오밥']

## **[Q2] 튜플을 이용해 순서가 변하지 않게 데이터를 표현해보아요.**

### **[Q2-1] `박바오밥`사원의 이름과 성을 나누어 튜플데이터로 만들고, `name`변수에 저장해주세요.**

### **[Q2-2] 앞에서 저장한 `name` 변수를 아래 예시 포맷에 맞춰 출력해주세요.**

In [3]:
name = ('박', '바오밥')
# 예시 포맷이 무엇인가요?
print(name[0]+name[1])

박바오밥

### **[Q2-3] `김단풍`, `이버들`, `박바오밥` 세 명의 사원을 성과 이름이 구분되게 `[성][이름]` 순으로 튜플로 표현한 뒤 `my_team2` 변수에 저장해주세요.**

### **[Q2-4] 앞에서 저장한 `my_team2` 변수를 출력해주세요.**

In [4]:
my_team2 = [('김', '단풍'), ('이', '버들'), ('박','바오밥')]
for name in my_team2:
  print(name[0]+name[1])

김단풍
이버들
박바오밥

## **[Q3] 딕셔너리를 이용해 사원들의 이름을 구분해주세요.**

### **[Q3-1] 딕셔너리 `이름` key의 value에 `Blossom`을, 또 다른 `성` key의 value에 `May`를 할당한 뒤 `name2` 변수에 저장해주세요.**

### **[Q3-2] 위에서 저장한 `name2` 변수를 출력해주세요.**

In [5]:
name2 = {'이름':'Blossom', '성':'May'}
name2

{'이름': 'Blossom', '성': 'May'}

### **[Q3-3] `김단풍`, `이버들`, `박바오밥`, `Blossom May` 네 명의 사원을 `성`, `이름` 필드를 가진 딕셔너리로 표현한 뒤 `my_team3` 변수에 저장해주세요.**

### **[Q3-4] 위에서 저장한 `my_team3` 변수를 출력해주세요.**

In [9]:
name3 = dict()
name4 = dict()
name5 = dict()
my_team3 = [name3, name4, name5, name2]
for i in range(len(my_team2)):
  my_team3[i]['성'] = my_team2[i][0]
  my_team3[i]['이름'] = my_team2[i][1]
print(my_team3)

[{'성': '김', '이름': '단풍'}, {'성': '이', '이름': '버들'}, {'성': '박', '이름': '바오밥'}, {'이름': 'Blossom', '성': 'May'}]