<a href="https://colab.research.google.com/github/EYZ27/my_first_repository/blob/main/week2_4_advanced.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
"""
사전정의 데이터 셀
"""

members = [
    {
        '성': '김',
        '이름': '이팝',
        '소속': '나무팀',
        '국적': '대한민국',
        '나이': 40,
    },
    {
        '성': '김',
        '이름': '단풍',
        '소속': '나무팀',
        '국적': '대한민국',
        '나이': 29,
    },
    {
        '성': '이',
        '이름': '버들',
        '소속': '나무팀',
        '국적': '대한민국',
        '나이': 34,
    },
    {
        '성': '박',
        '이름': '바오밥',
        '소속': '나무팀',
        '국적': '대한민국',
        '나이': 27,
    },
    {
        '성': 'May',
        '이름': 'Blossom',
        '소속': '나무팀',
        '국적': '미국',
        '나이': 28,
    },
    {
        '성': '김',
        '이름': '샤프란',
        '소속': '꽃팀',
        '국적': '대한민국',
        '나이': 42,
    },
    {
        '성': '김',
        '이름': '튤립',
        '소속': '꽃팀',
        '국적': '대한민국',
        '나이': 37,
    },
    {
        '성': '박',
        '이름': '수선화',
        '소속': '꽃팀',
        '국적': '대한민국',
        '나이': 33,
    },
    {
        '성': '박',
        '이름': '앵초',
        '소속': '꽃팀',
        '국적': '대한민국',
        '나이': 28,
    },
    {
        '성': 'Sharon',
        '이름': 'Rose',
        '소속': '꽃팀',
        '국적': '미국',
        '나이': 23,
    },
    {
        '성': '최',
        '이름': '매실',
        '소속': '열매팀',
        '국적': '대한민국',
        '나이': 50,
    },
    {
        '성': '이',
        '이름': '자두',
        '소속': '열매팀',
        '국적': '대한민국',
        '나이': 33,
    },
    {
        '성': '임',
        '이름': '키위',
        '소속': '열매팀',
        '국적': '대한민국',
        '나이': 26,
    },
]

team_prefix = {
    '나무팀': '파릇파릇한',
    '꽃팀': '향긋한',
    '열매팀': '달콤한',
}

## [Q1] 사전정의 데이터를 이용하여 다음의 문제들을 풀어주세요.

### [Q1-1] 나무팀, 꽃팀, 열매팀 별 나이의 평균을 계산하는 코드를 작성해주세요.

### 참고사항

- **함수명**
    - 함수명은 `average_age_by_team`로 작성해주세요.
- **파라미터**
    - 파라미터로 `members`를 넘겨받아 함수 내에서 접근할 수 있게 해주세요.
    - `members`를 넘겨받는 파라미터의 identifier의 이름은 `members`와 겹치지 않게 `team_members`로 정의해주세요.
    - 파라미터로 str 형식을 가지는 `team_name`을 입력받아주세요.
- **함수내부**
    - 평균을 계산하기 위한 중간값인 나이의 총 합은 `total_age`로 정의해주세요.
    - 평균을 계산하기 위한 중간값인 팀원의 총 인원은 `headcount`로 정의해주세요.
    - 나이의 평균은 `average_age_by_team` 함수 내에 `average_age`로 정의해주세요.
    - `average_age`는 소속이 `team_name`인 모든 사원들의 나이의 평균입니다.
    - `average_age`는 소수 셋째짜리에서 반올림하여 둘째짜리까지 나타내주세요.
        - hint! 반올림을 해주는 built-in function은 `round`입니다.
- **리턴값**
    - `average_age`를 리턴해주세요.

In [6]:
def average_age_by_team(members: list, team_name: str) -> float:
  total_age = 0
  headcount = 0
  for member in members:
    if member["소속"] == team_name:
      total_age+=member["나이"]
      headcount+=1
  average_age = round(total_age/headcount, 2)
  return average_age

### [Q1-2] `average_age_by_team` 함수를 이용해 평균나이가 가장 적은 팀을 출력해주세요.

### 참고사항

- `keyword agrgument`로 파라미터를 전달해주세요.
- 조건문을 사용해주세요.
- 반복문을 사용해주세요.

In [42]:
age = []
for i in list(team_prefix.keys()):
  team_age = average_age_by_team(members = members, team_name = i)
  age.append(team_age)
  if min(age) == team_age:
    min_team = i
    min_age = team_age
  else:
    continue
print(f"{min_team}이 {min_age}세로 평균나이가 가장 적어요.")

나무팀이 31.6세로 평균나이가 가장 적어요.

## [Q2] 팀별 평균을 list 안에 dictionary 로 저장한 후에 평균나이가 적은 순으로 정렬해주세요.

In [41]:
from pprint import pprint
age = []
for i in list(team_prefix.keys()):
  team_age = average_age_by_team(members = members, team_name = i)
  age.append({"팀이름":i, "평균나이":team_age})
age.sort(key=lambda x:x['평균나이'])
pprint(age)
for j in range(len(age)):
  print(f"{j+1}등 {age[j]['팀이름']}은 {age[j]['평균나이']}.")

[{'팀이름': '나무팀', '평균나이': 31.6},
 {'팀이름': '꽃팀', '평균나이': 32.6},
 {'팀이름': '열매팀', '평균나이': 36.33}]
1등 나무팀은 31.6.
2등 꽃팀은 32.6.
3등 열매팀은 36.33.